:root {
  --bg: #040c1b;
  --card: #111827;
  --text: #e5e7eb;
  --muted: #9ca3af;
  --accent: #38bdf8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: linear-gradient(135deg, #0f172a, #606992);
  color: var(--text);
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
  padding: 2rem 0;
}

/* 🔹 Header com foto */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;   /* centraliza horizontalmente */
  text-align: center;    /* centraliza texto */
}

.profile-photo {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--accent);
  margin-bottom: 1rem;
}

.subtitle {
  color: var(--muted);
  margin-top: 0.5rem;
}

section {
  margin-bottom: 2.5rem;
  background-color: #000b2e;
  border-radius: 12px;
  padding: 40px;
}

h1 {
  color: var(--text);
}

h2 {
  margin-bottom: 1rem;
  border-left: 4px solid var(--accent);
  padding-left: 0.75rem;
}

a {
  color: var(--muted);
  text-decoration: none;
}

a:hover {
  color: var(--accent)
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
}

.skills li {
  background: var(--card);
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  font-size: 0.9rem;
}

.skills i {
  margin-right: 0.4rem;
  color: #38bdf8;
}

/* 🔹 Projetos com imagem */
.project {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  background: var(--card);
  padding: 1.2rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

.project-card {
  background-color: var(--card);
  border-radius: 12px;
  padding: 20px;
  max-width: 350px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.375);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(74, 74, 74, 0.593);
}

.project-card img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.project-card img:hover {
  opacity: 0.9;
}

.project-card h4 {
  color: #ffffff;
}

.project-card p {
  color: #ffffff;
  font-size: 0.8rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 24px;
  margin-top: 24px;
}

/*
.project-info {
  margin-top: 12px;
}
*/

footer {
  text-align: center;
  padding: 1.5rem 0;
  color: var(--muted);
  font-size: 0.85rem;
}

/* 📱 Responsividade */
@media (max-width: 600px) {
  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .project {
    flex-direction: column;
    align-items: flex-start;
  }

  .project-image {
    width: 100%;
    height: auto;
  }
}
